.card {
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  padding: 1rem 1rem;
  color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.commander {
  font-size: 24px;
  margin: 0;
}

.life-total {
  font-size: 16px;
  margin: 0;
}

.card-content {
  border: 1px solid black;
  border-top: none;
  padding: 20px;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.win-condition,
.player-learning {
  margin-top: 20px;
}

.win-condition h3,
.player-learning h3 {
  font-size: 18px;
  margin: 0;
}

.win-condition p,
.player-learning p {
  font-size: 14px;
  margin-top: 5px;
}
